@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --pure-white: #fff;
  --white: #eee;
  --red: #c62f2f;
  --dark-gray: #333;
  --gray: #555353;
  --light-gray: #6e6d6d;
  --lighter-gray: #f5f5f5;
  --light-purple: #9aa2e653;
  --dark-purple: #9aa2e6;
  --darker-purple: #492789;
  --yellow: #fec572;
  --orange: #ffae35;
  --pink: #fc7575;
}
