.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--light-white);
  margin: 40px;
  border-radius: 10px;
  padding-bottom: 60px;
}

.dashboard-container h2 {
  margin-bottom: 10px;
}

.left-panel {
  flex: 1;
  margin-left: 20px;
}

.sustainability-facts,
.reflection,
.classrooms {
  margin-top: 40px;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-display {
  margin-left: 300px;
  margin-top: 40px;
}
