/* General styles */
.classroom-detail-container {
  padding: 20px;
  position: relative;
  max-width: 90%;
  margin: 20px auto;
  background: var(--light-grey);
  border-radius: 8px;
}

.classroom-detail-container .fa-icon {
  margin-right: 5px;
}

.back-button {
  position: absolute;
  top: -17px;
  right: 20px;
  padding: 6px 15px;
  background-color: transparent;
  border: 2px solid var(--darker-purple);
  color: var(--pure-white);
  background-color: var(--darker-purple);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
  background-color: transparent;
  color: var(--darker-purple);
}

.classroom-header {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--pure-white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  position: relative; /* Added for absolute positioning of the star icon */
}

.classroom-content {
  background: #ebe9eb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classroom-content h1 {
  font-size: 24px;
  color: var(--dark-blue);
}

.classroom-info {
  display: flex;
  flex-direction: column;
}

.classroom-detail-text {
  text-align: left;
  font-size: 18px;
  color: var(--dark-grey);
  margin-bottom: 10px;
  flex-grow: 1;
}

.classroom-detail-text span {
  font-weight: bold;
}

.classroom-detail-button {
  padding: 6px 14px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.classroom-detail-button:hover {
  background-color: var(--dark-purple);
}

.edit-classroom-button {
  padding: 8px 12px;
  background-color: var(--darker-purple);
  color: var (--pure-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.edit-classroom-button:hover {
  background-color: var(--dark-purple);
}

.classroom-detail-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classroom-status {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--pure-white);
  margin-top: 10px;
  text-align: center;
  width: max-content;
  font-size: 12px;
}

.classroom-status.active {
  background-color: #4caf50;
}

.classroom-status.finished {
  background-color: #f44336;
}

.favourite-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.star-icon {
  font-size: 24px;
}

.favorite {
  color: var(--yellow);
}

/* Modal styles */
.modal-content {
  background: var(--pure-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 1.5rem;
  color: var(--dark-grey);
  cursor: pointer;
}

.close:hover {
  color: var(--red);
}

.edit-classroom-form {
  background: var(--light-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-classroom-form input,
.edit-classroom-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark-grey);
}

.edit-classroom-form textarea {
  min-height: 100px;
}

.edit-classroom-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color);
  color: var(--pure-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.edit-classroom-form button:hover {
  background-color: var(--button-hover-color);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .classroom-detail-container {
    padding: 10px;
  }

  .classroom-header {
    height: 200px;
  }

  .classroom-content h1 {
    font-size: 20px;
  }

  .classroom-detail-text {
    font-size: 16px;
  }

  .back-button,
  .classroom-detail-button,
  .edit-classroom-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Student list and modal specific styles */
.student-table {
  width: 100%;
  margin-bottom: 20px;
}

.student-header,
.student-info {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--light-gray);
}

.student-header {
  font-weight: bold;
  background-color: var(--light-background);
}

.student-info {
  padding: 8px 0;
  align-items: center;
}

.student-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.no-students-message {
  text-align: center;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 10px 0;
}

.remove-student-button {
  padding: 5px 10px;
  background-color: var(--red);
  color: var(--pure-white);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.remove-student-button:hover {
  background-color: var(--dark-red);
}

.student-list {
  list-style-type: none;
}
