.createclassroom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.createclassroom-modal .modal-content {
  background-color: var(--pure-white);
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.createclassroom-modal .close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.createclassroom-modal input[type="text"],
.createclassroom-modal textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.createclassroom-modal button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  border: 2px solid var(--darker-purple);
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.createclassroom-modal button:hover {
  background-color: transparent;
  color: var(--darker-purple);
}

.createclassroom-modal .close:hover {
  color: var(--red);
}

label.file-upload-label {
  margin-top: 10px;
  margin-bottom: 20px;
}
.file-upload-label {
  background-color: var(--darker-purple);
  color: var(--pure-white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
}

.file-upload-label:hover {
  background-color: var(--dark-purple);
}

.classroom-photo-preview {
  width: 200px;
  height: 120px;
  object-fit: cover;
  margin-top: 10px;
  border: 2px solid var(--darker-purple);
  border-radius: 5px;
}

.create-button {
  background-color: var(--darker-purple);
  color: var(--pure-white);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid var(--darker-purple);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: transparent;
  color: var(--darker-purple);
}
