.join-classroom-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--pure-white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 210px;
}

.join-classroom-form input,
.join-classroom-form button {
  width: 100%;
  padding: 8px;
  background-color: var(--lighter-gray);
}

.join-classroom-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
}
