.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: var(--lighter-gray);
  color: var(--dark-gray);
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-content {
  display: flex;
  align-items: center;
}

.question-icon {
  margin-right: 10px;
}

.faq-question:hover {
  background-color: var(--pink);
  color: var(--pure-white);
}

.faq-answer {
  padding: 12px;
  font-size: 16px;
  color: var(--gray);
  line-height: 1.7;
  background-color: var(--light-white);
  border-left: 5px solid var(--pink);
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown-icon {
  margin-left: 10px;
  color: var(--pink);
}
