.classroom-container {
  display: flex;
  flex-direction: column;
}

.classroom-container h1 {
  margin: 40px 0 0 45px;
  font-weight: bolder;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}

.top-controls .join-classroom {
  margin: 20px 0 0 45px;
}

.button-container {
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  padding: 10px 20px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  border: 2px solid var(--darker-purple);
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 110px;
}

.button-container button:hover {
  background-color: transparent;
  color: var(--darker-purple);
}
