.container-sidebar {
  display: flex;
}
.container-sidebar nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: var(--pure-white);
  width: 300px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.container-sidebar .logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.container-sidebar .logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.container-sidebar .logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.container-sidebar a {
  position: relative;
  color: var(--gray);
  font-size: 16px;
  display: table;
  width: 280px;
  padding: 10px;
}
.container-sidebar nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.container-sidebar .nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

.container-sidebar .nav-link-item:hover {
  background: var(--white);
}

.container-sidebar .logout {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}

.container-sidebar .logout:hover {
  color: var(--red);
}
