.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
  flex-direction: column;
}

.forgot-password-container h1 {
  color: var(--darker-purple);
  margin-bottom: 20px;
}

.forgot-password-form {
  padding: 30px 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--pure-white);
  width: 400px;
}

.forgot-password-form div {
  margin-bottom: 15px;
}

.forgot-password-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--gray);
  font-weight: 500;
}

.forgot-password-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 14px;
  color: var(--gray);
}

.forgot-password-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid var(--darker-purple);
  border-radius: 20px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
  text-transform: uppercase;
}

.forgot-password-form button:hover {
  background-color: transparent;
  color: var(--darker-purple);
  transition: 0.3s;
  border: 2px solid var(--darker-purple);
}
.forgot-password-form p {
  margin-top: 20px;
  font-size: 14px;
  color: var(--gray);
}

.forgot-password-form a {
  color: var(--dark-purple);
  text-decoration: none;
  font-weight: 500;
}

.forgot-password-form a:hover {
  text-decoration: underline;
}

.forgot-password-container .home-button {
  margin-left: 220px;
  margin-top: 20px;
}
