.main-reflection {
  margin: 40px 40px;
}

.header-container-reflection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-reflection h1 {
  margin: 0;
  font-size: 2rem;
}

.new-reflection {
  margin: 0;
}

.custom-button {
  padding: 10px 20px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
