.greetingStyle {
  color: var(--black);
  text-align: center;
  margin-top: 50px;
}

.waveEmoji {
  display: inline-block;
  transition: transform 0.5s;
}

.waveEmoji.animated {
  animation: wave 1s 2;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
