.latest-reflection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: var(--pure-white);
  margin-bottom: 15px;
  border: 2px solid var(--medium-gray);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.reflection-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.reflection-content h3 {
  margin: 10px 0;
}

.reflection-content p {
  margin: 5px 0;
  color: var(--gray);
}

.reflection-content .image {
  width: 100px;
  height: auto;
  margin: 5px 20px 0 5px;
}

.reflection-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.view-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--darker-purple);
  color: var(--pure-white);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.view-button i {
  margin-left: 5px;
}

.view-button:hover {
  background-color: var(--dark-purple);
}
