.anonymous-option {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.anonymous-option input[type="checkbox"] {
  margin-right: 10px;
}

label.anonymous-option {
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}

.container-new-entry form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--light-white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.container-new-entry form div {
  margin-bottom: 1rem;
}

.container-new-entry label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 600;
}

.container-new-entry input[type="text"],
.container-new-entry textarea,
.container-new-entry select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  background-color: var(--pure-white);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.container-new-entry input[type="text"]:focus,
.container-new-entry textarea:focus,
.container-new-entry select:focus {
  border-color: var(--darker-purple);
  outline: none;
  box-shadow: 0 0 0 3px rgba(155, 89, 182, 0.2);
}

.container-new-entry textarea {
  height: 150px;
  resize: vertical;
}

.container-new-entry .form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-new-entry button[type="submit"] {
  display: inline-block;
  background-color: var(--darker-purple);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--darker-purple);
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
  font-weight: 600;
}

.container-new-entry button[type="submit"]:hover {
  background-color: transparent;
  color: var(--darker-purple);
}

.container-new-entry input[type="text"]:hover,
.container-new-entry textarea:hover,
.container-new-entry select:hover,
.container-new-entry input[type="text"]:focus,
.container-new-entry textarea:focus,
.container-new-entry select:focus {
  border-color: var(--darker-purple);
}

.container-new-entry .cancel-button {
  background-color: var(--light-gray);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--light-gray);
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
}

.container-new-entry .cancel-button:hover {
  background-color: transparent;
  color: var(--light-gray);
}

.container-new-entry .privacy {
  display: flex;
  justify-content: flex-end;
}

.container-new-entry .privacy-toggle {
  background-color: transparent;
  border: none;
  color: var(--darker-purple);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-new-entry .privacy-toggle:hover {
  text-decoration: underline;
}

.container-new-entry .file-upload-label {
  background-color: var(--darker-purple);
  color: var(--pure-white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.container-new-entry .file-upload-label:hover {
  background-color: var(--dark-purple);
}

.container-new-entry .file-name {
  margin-top: 10px;
  color: var(--darker-purple);
}

.reflection-photo-preview {
  width: 200px;
  height: auto;
}

.reflection-photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.remove-photo-button {
  display: inline-flex;
  align-items: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  transition: background-color 0.2s ease;
  margin-bottom: 10px;
  margin-top: -10px;
}

.remove-photo-button:hover {
  background-color: #c0392b;
}

.remove-photo-button svg {
  margin-right: 5px;
}

/* Custom styles for the dropdown menu */
.container-new-entry select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 0.75rem center;
  padding-right: 2.5rem; /* Adjust padding to make space for the arrow */
}

.container-new-entry select:hover {
  border-color: var(--darker-purple);
}

.container-new-entry select:focus {
  border-color: var(--darker-purple);
  box-shadow: 0 0 0 3px rgba(155, 89, 182, 0.2);
  outline: none;
}

.container-new-entry .select-container {
  position: relative;
}

.container-new-entry .select-container:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  width: 10px;
  height: 10px;
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat center;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Styles for the disabled dropdown */
.container-new-entry select:disabled {
  background-color: #c4c2c2;
  color: var(--gray);
  cursor: not-allowed;
}
