.reflection_card {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: var(--pure-white);
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid var(--medium-gray);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.reflection_details {
  display: flex;
}
.reflection_details .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reflection_details .img i {
  width: 70px;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 10px;
  color: var(--darker-purple);
  background: var(--light-purple);
}
.reflection_details .text {
  margin-left: 2.3rem;
}
.reflection_details .text span {
  color: var(--light-gray);
}
.reflection_date {
  text-align: right;
  color: var(--gray);
}

.reflection_card:active {
  border: 2px solid var();
  transition: 0.4s;
}
