.reflection_card {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: var(--pure-white);
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid var(--medium-gray);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.reflection_details {
  display: flex;
  align-items: center;
}
.reflection_details .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reflection_details .img img {
  width: 100px;
  height: 100px;
}
.reflection_details .img i {
  width: 70px;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 10px;
  color: var(--darker-purple);
  background: var(--light-purple);
}
.reflection_details .text {
  margin-left: 2.3rem;
}
.reflection_details .text span {
  color: var(--light-gray);
}
.reflection_date {
  text-align: right;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reflection_card:active {
  border: 2px solid var();
  transition: 0.4s;
}

.reflection_card:hover {
  border: 2px solid var(--darker-purple);
  transition: 0.4s;
}

.reflection_card .action-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reflection_card .edit-button,
.reflection_card .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
  font-size: 1.2rem;
}

.reflection_card .delete-button:hover {
  color: var(--red);
}

.reflection_card .edit-button:hover {
  color: var(--yellow);
}
