.row-reflections {
  display: flex;
  padding: 10px;
  margin-top: 1.3rem;
  justify-content: space-between;
}
.row-reflections p {
  color: var(--gray);
  font-size: 15px;
}
.row-reflections p span {
  color: var(--darker-purple);
}
